<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookmarkIt</title>

    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span><i class="far fa-bookmark pr-1"></i></span>
                <span>BookmarkIt</span>
            </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not g.user %}
                <li class="nav-item"><a class="nav-link" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-user"></i> Log in</a></li>
                {% else %}
                <li class="navbar-text text-light pr-2">Welcome, {{ g.user.first_name }}!</li>
                <li class="nav-item dropdown text-light">
                    <a class="btn btn-outline btn-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i class="fas fa-bell"></i>
                        {% if notifications %}
                            <span class="badge badge-warning">{{notifications|length}}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if notifications %}
                            {% for note in notifications %}
                            <a href="/boards/{{note.board_id}}" class="dropdown-item">"{{ note.title }}" is due. Visit board -></a>
                            {% endfor %}
                        {% else %}
                        <a href="#" class="dropdown-item">No notifications here!</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item text-light"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
        {% endfor %}
    </div>

    {% block CONTENT %}
    {% endblock %}
    
</body>
</html>