{% extends 'base.html' %}
{% block CONTENT %}

<div class="row justify-content-center">
    <div class="col-sm-9 col-md-7 col-lg-5 p-4">
        <h2>Login</h2>
        <form action="/login" method="POST">
            
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field.label }}
                {{ field(class="form-control") }}
            {% endfor %}

            <button>Login</button>
        </form>
    </div>
</div>

{% endblock %}